.developer {
  border: 1px solid lightgray;
  padding: 5px;
  border-radius: 10px;
  transition: 0.6s;
  box-shadow: 5px 5px 10px lightgray;
}

.developer:hover {
  border: 1px solid cyan;
  box-shadow: 10px 10px 10px gray;
}

.image img {
  border-radius: 50%;
}
